@model AddHamperViewModel

<div>
    @Html.ValidationSummary()
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form asp-controller="ManageHamper" asp-action="AddHamper" method="post" enctype="multipart/form-data">
                <div class="mt-2">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="mt-2">
                    <label asp-for="Category"></label>
                    <input asp-for="Category" class="form-control" />
                </div>
                <div class="mt-2">
                    <label asp-for="Details"></label>
                    <input asp-for="Details" class="form-control" />
                </div>
                <div class="mt-2">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="input-group mt-2">
                    <input asp-for="ImgUrl" type="file"
                           name="upload"
                           class="form-control custom-file-input"
                           id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01" />
                    <label asp-for="ImgUrl" class="custom-file-label" for="inputGroupFile01">Image URL</label>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Add Hamper" class="btn btn-info" />
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
