@model EditHamperViewModel


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form asp-controller="ManageHamper" asp-action="EditHamper" method="post">
                <div class="mt-2">
                    <input asp-for="HamperId" class="form-control" hidden="hidden"/>
                </div>
                <div class="mt-2">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="mt-2">
                    <label asp-for="Category"></label>
                    <input asp-for="Category" class="form-control" />
                </div>
                <div class="mt-2">
                    <label asp-for="Details"></label>
                    <input asp-for="Details" class="form-control" />
                </div>
                <div class="mt-2">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="mt-2">
                    <input type="submit" value="Save Changes" class="btn btn-info" />
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>